.product-details {
    margin-top: 2rem;
}

.product-details .img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-details h1 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: bold;
}

.product-details .lead {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.product-details p {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}