* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: grid;
  min-height: 100vh;
  padding-bottom: 3rem;
}

header {
  background-color: #212529;
  color: white;
  padding: 1rem;
  text-align: center;
}

header nav a {
  color: white;
  margin: 0 1rem;
  text-decoration: none;
}

header nav a:hover {
  text-decoration: underline;
}

main {
  flex: 1;
  padding: 2rem;
}
